* {
    transition: all .5s;
}

body{
    background: teal;
    margin: 0;
}

.dark{
    filter: invert(1);
}


main {
    border: 2px solid black;
    background: white;


}

header{
    display: flex;
    justify-content: space-evenly;
}
h1 {
    color: white;
    font-family: fantasy;
    flex: 2;
    text-align: center;
    margin-left:-50px;
}

h3{ 
    padding-top: 100px;
}
nav {
    /* width: calc(100vw-20px); */
    height: 50px;
    padding: 20px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 95vw;
}


nav a { 
    border: 1px solid teal;
    color: white;
    background-color: #333;
    width: 33%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{ 
    background: #000;
    text-decoration: underline;
}

p {
    margin: 50px 20px;
    text-indent: 15px;
}

.hipsterPics{
    margin-top: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;

}

#email { 
    border: 1px solid black;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
#email form input { 
    margin: 20px;
    width: 100px;
    padding: 50px;
}

#logo {
    height: 50px;
    margin: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    right:0;
}

footer button {
    padding: 20px 30px;
}